/* 
Kiểm tra vỡ màn hình */
 /* * {
  outline: 1px solid red;
}

html,
body {
  overflow-x: block;
}
li {
  list-style: none;
} */

body,
html {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased
}

body {
  background: #f5f5f5 none repeat scroll 0 0;
  color: #363636;
  font-family: var(--primary-font), sans-serif;
  font-size: 16px
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #292b2c
}

p {
    color: #474747;
    line-height: 1.5em;
    margin-bottom: 15px
}

a {
    color: #292b2c;
    transition: all .3s ease-in-out
}

a,
a:hover {
    text-decoration: none;
    color:unset;
}

a:hover {
    color: var(--color-1st)
}

a:focus {
    outline: none
}

img {
    max-width: 100%
}

button {
    transition: all .3s ease-in-out
}

li,
ol,
ul {
    margin: 0;
    padding: 0
}
ul {
  list-style-type: none;
}
label {
    color: #6c757d
}

input:focus,
textarea:focus {
    box-shadow: none;
    outline: none
}

iframe {
    border: 0;
    display: block
}

.image{
  width:100%;
}
/* Header */
header {
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
  padding: 20px 0;
  padding-bottom: 0px;
}

h1 {
  margin: 0;
}

/* Thanh điều hướng */
nav {
  background-color: #fff;
  display: block;
}

.slick-dots li,
nav ul {
  list-style-type: none;
}
nav ul {
  margin: 0;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Logo */
.logo img {
  /* margin-left: 20px; */
  /* margin-top: 20px;*/
  padding: 0;
}

.logo .logo_ic {
  z-index: 1;
  position: absolute;
  left: 30px;
}

.logo .logo_ic img {
  height: 50px;
}

/* tooogle */
.toogle {
  color: #111;
  text-align: right;
  padding: 10px;
  font-size: 2rem;
  display: none;
}

.toogle:hover {
  color: #c92027;
}

/* nav */

nav ul li {
  position: relative;
}
nav ul li a {
  color: #111;
  text-align: center;
  font-size: 16px;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

nav ul li button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

nav ul li a:hover {
  color: #c92027;
}

/* btn search */
.search-box {
  background-color: #fff;
  border-radius: 30px;
}

.search-box .search-text {
  border: none;
  outline: none;
  background: none;
  padding-left: 1rem;
  font-size: 1rem;
  width: 0;
  transition: all 0.25s ease-in-out;
}

/* Thuộc tính valid: kiểm tra xem input-text có dữ liệu không */
.search-box:hover .search-text,
.search-box .search-text:valid {
  width: 300px;
  padding: 0 1rem;
  border: unset;
}

.search-box:hover .search-btn {
  color: #c92027;
}

.search-box .search-btn {
  background-color: none;
  border: none;
  font-size: 1rem;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
}

nav ul li .dropdown {
  z-index: 1;
  position: absolute;
  display: none;
  flex-direction: column;
  left: -1.25rem;
  width: max-content;
}

nav ul li:hover .dropdown {
  display: block;
}

nav ul li .dropdown li {
  padding: 0.5rem;
  border-bottom: 1px solid #fff;
  text-transform: capitalize;
  background-color: #fff;
}

nav ul li .dropdown li:hover {
  opacity: 0.5;
  background-color: #e4e4e4;
  color: #c92027;
}

/* Main */
main {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
}

section {
  padding: 0;
  margin-top: 0;
}

/* 
reponsive */
@media only screen and (max-width: 1024px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    background: #fff;
  }

  /* logo */
  .logo {
    padding-bottom: 0.5rem;
  }

  .logo_ic {
    left: 0px;
  }

  /* tooogle */

  .toogle {
    display: block;
  }

  /* navbar */

  nav {
    display: none;
  }

  nav ul {
    padding-bottom: 0;
  }

  nav ul li {
    padding: 14px 0px;
  }

  nav ul li a {
    padding: 14px 7px;
  }

  nav ul li button i {
    color: #111;
  }

  /* dropdown */
  nav ul li {
    display: block;
    position: relative;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav ul li .dropdown {
    z-index: 1;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 3rem;
    left: 0;
  }

  nav ul li:hover .dropdown {
    display: block;
  }

  nav ul li .dropdown li {
    padding: 0.5rem;
    border-bottom: 1px solid #fff;
    /* background-color: #fff; */
    width: 8rem;
  }

  nav ul li .dropdown li:hover {
    /* opacity: 0.5; */
    background-color: #e4e4e4;
    color: #c92027;
  }

  nav ul li .dropdown li a:hover {
    color: #c92027;
  }
  /* SearchBox */
  .search-box {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 720px) {
  .search-box:hover .search-text,
  .search-box .search-text:valid {
    width: 12rem;
  }
}
